# Maven
target/

# IntelliJ
.idea/
*.iml
out/

# Bloquear TODOS los properties primero
*.properties

# Permitir SOLO los archivos seguros
!src/main/resources/application-prod.properties

# Credenciales específicas
src/main/java/com/curriculum/config/DatabaseConfig.java

# Logs
*.log

# Sistema
.DS_Store